name: Node CI

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:
  build:
    uses: nicksp/workflows/.github/workflows/test.yml@b6dd4a3dc0859745d07187c763e71fedcbb12725 # v1
    with:
      skip-lint: true
      build: ""
