name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    uses: nicksp/workflows/.github/workflows/release-changelogithub.yml@b6dd4a3dc0859745d07187c763e71fedcbb12725 # v1
    with:
      publish: true
    permissions:
      contents: write
      id-token: write
